/* StockDashboard.css */
.stock-container {
    padding: 20px;
  }
  
  .stock-list {
    flex: 1;
    margin-right: 20px;
    list-style: none;
    padding: 0;
  }
  
  .stock-graph {
    flex: 1;
  }


.container {
  padding: 10px;
  display: flex;
  grid-template-columns: 40vh 60vh; /* Setting the rows to 40% and 60% of the viewport height */
  gap: 10px; /* Optional gap between rows */
}

.column {
  padding: 10px;
  border: 1px solid #000; /* Just for visualization */
}
.column1 {
    background-color: green;
    width: 70%;
    height: 300px;

}

.column2 {
    background-color: red;
    width: 30%;
    
}


  