/* Add this CSS to your stylesheet */
.stock-list {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .stock-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stock-list ul {
    list-style: none;
    padding: 0;
  }
  
  .stock-list li {
    margin-bottom: 5px;
  }
  